---
- name: Ensure host OS is supported
  ansible.builtin.assert:
    that:
      - ansible_os_family == 'Debian'
      - >-
        (ansible_distribution == 'Debian' and ansible_distribution_major_version in ['12', '13'])
        or
        (ansible_distribution == 'Ubuntu' and ansible_distribution_version in ['22.04', '24.04'])
    fail_msg: >-
      Unsupported OS/version. Supported targets are Debian 12/13 and Ubuntu 22.04/24.04.
