---
- name: Start additional-disk create jobs for batch
  ansible.builtin.command:
    argv:
      - qemu-img
      - create
      - -f
      - "{{ item.1.disk_extension | default(item.0.instance_disk_extension) }}"
      - >-
        {{
          normalized_instance_disk_pool_path
          ~ '/'
          ~ item.0.instance_name
          ~ '-'
          ~ item.1.guest_device
          ~ '.'
          ~ (item.1.disk_extension | default(item.0.instance_disk_extension))
        }}
      - "{{ item.1.size_gb }}G"
  loop: "{{ kvm_extra_disk_batch }}"
  loop_control:
    label: "{{ item.0.instance_name }}:{{ item.1.guest_device }}"
  async: 900
  poll: 0
  register: additional_disk_create_jobs
  changed_when: true

- name: Wait for additional-disk create jobs for batch
  ansible.builtin.async_status:
    jid: "{{ item.ansible_job_id }}"
  loop: "{{ additional_disk_create_jobs.results | default([]) }}"
  loop_control:
    label: "{{ item.item.0.instance_name }}:{{ item.item.1.guest_device }}"
  register: additional_disk_create_status
  until: (additional_disk_create_status.finished | default(false)) | bool
  retries: 180
  delay: 5
  failed_when: (additional_disk_create_status.rc | default(0) | int) != 0
  when: item.ansible_job_id is defined
