$TTL {{ bind_ttl }}
@ IN SOA {{ bind_ns_name }}.{{ bind_zone }}. hostmaster.{{ bind_zone }}. (
    {{ bind_zone_serial }}
    3600
    600
    86400
    {{ bind_ttl }}
)
@ IN NS {{ bind_ns_name }}.{{ bind_zone }}.
{% for rec in bind_records %}
{{ rec.name }} IN {{ rec.type }} {{ rec.value }}
{% endfor %}
