zone "{{ bind_zone }}" {
    type master;
    file "/etc/bind/db.{{ bind_zone }}";
    allow-update { none; };
};
{% if bind_reverse_zone | default('') | length > 0 %}

zone "{{ bind_reverse_zone }}" {
    type master;
    file "/etc/bind/db.{{ bind_reverse_zone }}";
    allow-update { none; };
};
{% endif %}
